$bg-color: green;

$color1: #b61883;
$color2: white;
$color3: black;
$color4: #dcd1f3;

$fs1: 13px;
$fs2: 1.1rem;
$fs3: 3rem;

$fw1: 300;
$fw2: 400;
$fw3: 700;

$ff1: "Montserrat", sans-serif;

$lh1: 1.2;

$width1: 100%;

$s20px: 20px;